venv
airflow/logs
airflow/dags/__pycache__
airflow/dags/tasks/__pycache__
airflow/dags/classes/__pycache__
spark/notebooks/.ipynb_checkpoints
spark/notebooks/.ivy2/
spark/notebooks/.local/
spark/notebooks/.jupyter/
spark/notebooks/.npm/
spark/notebooks/.ipython/
spark/notebooks/1_bronze/.ipynb_checkpoints
spark/notebooks/2_silver/.ipynb_checkpoints
spark/notebooks/3_gold/.ipynb_checkpoints
airflow/dags/__pycache__
config.env